<h2>Name: </h2><%= @item.name %><br>
<%= image_tag @item.image %><br>
<h2>Category: </h2><%= @item.category.name %><br>
<h2>Description: </h2><%= @item.description %><br>
<h2>Price: </h2><%= @item.price %><br>
