<h1>Item list</h1>
<% @items.each do |i| %>
    <h2>Name: </h2><%= i.name %><br>
    <%= image_tag i.image %><br>
    <h2>Category: </h2><%= i.category.name %><br>
    <h2>Description: </h2><%= i.description %><br>
    <h2>Price: </h2><%= i.price %><br>

<% end %>
